@page
@model IndexModel
@{
    ViewData["Title"] = "The Home For Pizza Lovers";
    TimeSpan timeInBusiness = DateTime.Now-new DateTime(2018,8,14);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contosa Pizza</h1>
    <p class="lead"> The best pizza in town @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
